body {
  margin: 0;
}

.container {
  display: flex;
  height: 300px;
  align-items: end;
  gap: 4px;
  justify-content: center;
  margin-top: 20px;

  * {
    background-color: black;
    transition: all 0.3s ease-in-out;
  }
}

.navbar-toggle-btn {
  top: 2px;
  left: 2px;
  font-size: 25px !important;
}

.containerMain {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 2px;

  .row {
    display: flex;
    gap: 2px;

    * {
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 10px;
    }
  }
}

.winnerAnimation {
  animation: zoom 1s ease-in-out infinite;
}

@keyframes zoom {
  0% {
    font-size: 12px;
  }
  50% {
    font-size: 16px;
  }
  100% {
    font-size: 12px;
  }
}

/* traffic light */
.light {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.stand {
  left: 50%;
  width: 40px;
  height: 200px;
  transform: translate(-50%, 100%);
  background-color: wheat;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* carousel */
.img-container {
  height: 400px;
  width: 300px;
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (width <= 640px) {
  .img-container {
    height: 300px;
    width: 200px;
  }
}
.main-image {
  z-index: 1;
  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.left-side {
  opacity: 0.4;
  transform: translateX(-25%);
  position: absolute;
  z-index: 0;
}
.right-side {
  opacity: 0.4;
  transform: translateX(25%);
  position: absolute;
  z-index: 0;
}
.left-side:hover {
  transform: translateX(-25%) scale(1.05);
}
.right-side:hover {
  transform: translateX(25%) scale(1.05);
}
.main-image-v2 {
  scroll-snap-type: x mandatory;
}

/* tabs */
.tabHide {
  animation: goAway 0.3s ease-in-out;
}
@keyframes goAway {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* clock */
.clock-analog {
  height: 200px;
  width: 200px;
  position: relative;
}
.tick {
  width: 8px;
  height: 2px;
}
.left-tick {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.top-tick {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 100%) rotate(90deg);
}
.right-tick {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}
.bottom-tick {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-100%, -200%) rotate(-90deg);
}
.hands-wrapper {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: end;
  height: 50%;
}
.clock-hand {
  position: absolute;
  transform-origin: bottom;
  transition: all 1s linear;
  border-radius: 4px;
}
.seconds {
  height: 90px;
  width: 4px;
}
.minutes {
  height: 70px;
  width: 6px;
}
.hours {
  height: 50px;
  width: 8px;
}
.clock-screen {
  flex: 1;
}

/* dice */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.diceWrapper {
  width: 100%;
}
.dice {
  height: 100px;
  width: 100px;
  position: relative;
  animation: rotate 0.3s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) rotateX(0deg);
  }
  100% {
    transform: rotate(360deg) rotateX(360deg);
  }
}
.dice-dots-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.dice-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
}
.dice-dot-top-left {
  top: 0;
  left: 0;
}
.dice-dot-top-right {
  top: 0;
  right: 0;
}
.dice-dot-center-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.dice-dot-center-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.dice-dot-bottom-left {
  bottom: 0;
  left: 0;
}
.dice-dot-bottom-right {
  bottom: 0;
  right: 0;
}
.dice-dot-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* snake and ladder */
.custom-snl-dice {
  font-size: 100px;
}

/* whack a mole */
.game-board {
  margin: 0 auto;
  max-width: 620px;
}
.grid-whack {
  aspect-ratio: 1 / 1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.mole-col {
  border: none;
  position: relative;
  overflow: hidden;
}
.mole-hill {
  position: absolute;
  width: 100%;
  height: 30%;
  transform: translateY(20%);
  object-fit: contain;
  bottom: 0;
}
.mole-head {
  width: 100%;
  height: 70%;
  transform: translateY(120%);
  transition: all 0.1s ease-in-out;
  object-fit: contain;
  position: absolute;
  bottom: 0;
}

/* autocomplete and search bar */
.search-result-container {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

/* shimmer */
.shimmer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.card,
.placeholder {
  height: 30vh !important;
}

.shimmer {
  background-image: linear-gradient(to left, white, grey);
  background-size: 200% 200%;
  animation: animateColor 1s linear infinite;
}
@keyframes animateColor {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

/* unload boxes */
.unload-box {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  transition: background-color 0.3s ease-in-out;
}
.unload-box-placeholder {
  height: 40px;
  width: 40px;
}

/* magic cursor */
.cursor-field {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.cursor {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(33, 198, 200, 1) 36%,
    rgba(253, 187, 45, 1) 18%
  );
  opacity: 0.8;
  transform: translate(-50%, -50%);
}

/* canvas */
.canvas-container {
  height: 100vh;
}
.color-picker-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  height: 4rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 1px 10px 0px rgb(0, 0, 0, 0.5);
  background-color: aliceblue;
  > input {
    border: none;
  }
}

/* memory game */
.memory-game-box {
  height: 4rem;
  width: 4rem;
  font-size: 2rem !important;
}
